<section class="content about-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1 about-header-col">
        <h1>
          <span>Um espetáculo</span>
          Como Você Nunca Viu
        </h1>
        <p>
          São Paulo é o palco do Teatro Santander, um espaço cujos diferenciais de estrutura, tecnologia e serviço, são capazes de fazer do Teatro Santander a opção preferencial para receber as mais diversas atrações culturais como também os eventos corporativos premium da cidade de São Paulo.
        </p>

      </div>
      <div class="col-sm-12 col-xs-12">
        <%= image_tag 'about/arrow-down.png', class: 'img-responsive center-block', alt: 'Seta Abaixo Teatro' %>
      </div>
    </div>
  </div>
</section>

<section class="content about-caracteristicas">
  <div class="container">

    <div class="row">
      <div class="col-sm-5 col-xs-12 about-carac-text modernidade">

        <div data-bottom-top='margin-top: 480px; opacity: 0.5' data-center='margin-top: 0; opacity: 1'>
          <h2 data-line="_____">Modernidade <span>Técnica</span></h2>
          <p data-line="___" data-line-after="___">O teatro Santander reúne o que há de mais moderno no cenário cultural internacional. No Brasil, as salas de espetáculos mais modernas possuem, em separado, características técnicas de ponta. No Teatro Santander elas estão reunidas em um só lugar. </p>
        </div>

      </div>
      <div class="col-sm-7 col-xs-12 about-carac-img">
        <%= image_tag 'about/modernidade.png', class: 'img-responsive', :"data-bottom-top" => 'margin-top: 480px; opacity: 0.5', :"data-center" => 'margin-top: 0; opacity: 1', alt: 'Modernidade' %>
      </div>
    </div>

    <hr data-bottom-top="height: 8px" data-center="height: 8px" class="horizontal-line">

    <div class="row">
      <div class="col-sm-7 col-xs-12 hidden-xs about-carac-img">
        <%= image_tag 'new-version/pioneirismo.jpg', class: 'img-responsive', :"data-bottom-top" => 'margin-top: 20px; opacity: 0.5', :"data-center" => 'margin-top: -50px; opacity: 1', alt: 'Pioneirismo' %>
      </div>
      <div class="col-sm-5 col-xs-12 about-carac-text pioneirismo">

        <div data-bottom-top='margin-top: 150px; opacity: 0' data-center='margin-top: 0; opacity: 1'>
          <h2 data-line-after="_____" class="a-right">Pioneirismo</h2>
          <p data-line-after="___" class="a-right bottom-line-right">O sistema de iluminação, de som, a instalação de poltronas rebatíveis sobre um sistema retrátil e a possibilidade de receber, sem qualquer necessidade de adaptação, espetáculos da Broadway, tornam o Teatro Santander único no Brasil.</p>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12 visible-xs about-carac-img">
        <%= image_tag 'about/pioneirismo.jpg', class: 'img-responsive', alt: 'Pioneirismo' %>
      </div>
    </div>
  </div>
</section>
<section class="content about-caracteristicas dark">
  <div class="container">
    <div class="row">
      <hr data-bottom-top="height: 98px" data-center="height: 98px" class="group-balls skrollable skrollable-after hidden-sm hidden-xs" style="height: 98px;">
      <div class="col-sm-5 col-xs-12 about-carac-text versatil">

        <div data-bottom-top='margin-top: 480px; opacity: 0' data-center='margin-top: 0; opacity: 1'>
          <h2 data-line="_____">Versátil</h2>
          <p data-line="___" data-line-after="___">Recursos arquitetônicos e tecnológicos diferenciados permitem ao Teatro Santander receber desde shows, concertos, peças teatrais, desfiles de moda até grandes espetáculos da Broadway (estes, sem necessidade de nenhuma adaptação).</p>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12 about-carac-img">
        <!-- <%= image_tag 'about/versatil.jpg', class: 'img-responsive', alt: 'Versátil', :"data-bottom-top" => 'margin-top: 200px; opacity: 0', :"data-center" => 'margin-top: 0; opacity: 1' %> -->
        <div class="embed-responsive embed-responsive-16by9">
          <video class=" embed-responsive-item" width="616" height="397" data-bottom-top='margin-top: 200px; opacity: 0' data-center='margin-top: 0px; opacity: 1' autoplay loop muted>
            <source src="versatil.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7 col-xs-12 hidden-xs about-carac-img">
        <%= image_tag 'about/detalhes.png', class: 'img-responsive', alt: 'Detalhes', :"data-bottom-top" => 'margin-top: 100px; opacity: 0', :"data-center" => 'margin-top: -20px; opacity: 1' %>
      </div>

      <div class="col-sm-5 col-xs-12 about-carac-text detalhes" data-bottom-top='margin-top: 100px; opacity: 0' data-center='margin-top: -20px; opacity: 1'>
        <h2 data-line-after="_____" class="a-right">Detalhes</h2>
        <p data-line-after="___" class="a-right bottom-line-right">O edifício foi desenvolvido como um instrumento musical. Certos ângulos demonstram uma interpretação da acústica e o espaço trabalha com sons amplificados e não amplificados.</p>
      </div>

      <div class="col-sm-7 col-xs-12 visible-xs about-carac-img">
        <%= image_tag 'about/detalhes.png', class: 'img-responsive', alt: 'Detalhes'%>
      </div>
    </div>

  </div>
</section>

<section class="content slider-about">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 about-carac-text versatil">

        <div data-bottom-top='margin-top: 480px; opacity: 0' data-center='margin-top: 0; opacity: 1'>
          <h2 data-line="_____">Galeria <span>Teatro</span></h2>
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="row">
      <!-- Swiper -->
      <div class="swiper-galeria-teatro">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider.jpg' %>)"></div>

          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider-2.jpg' %>)"></div>

          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider-3.jpg' %>)"></div>

          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider-4.jpg' %>)"></div>

          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider-5.jpg' %>)"></div>

          <div class="swiper-slide" style="background-image: url(<%= image_path 'about/foto-slider-6.jpg' %>)"></div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<section class="content about-local">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 col-xs-12 no-padding" data-bottom-top='margin-top: 100px; opacity: 0' data-center='margin-top: -20px; opacity: 1' >
        <div id="map">entra aqui</div>
      </div>

      <div class="col-sm-3 col-xs-12 col-localizacao" data-bottom-top='margin-top: 100px; opacity: 0' data-center='margin-top: -60px; opacity: 1'>
        <h1 data-line="_____">Localização</h1>
        <p data-line="___" class="local-endereco">Av. Presidente Juscelino Kubitschek, 2041
          Itaim Bibi, São Paulo - SP</p>

          <h4>Bilheteria Teatro Santander</h4>
          <p>Complexo WT JK</p>
          <h4>Informações Teatro:</h4>
          <p>(11) 4810-6868</p>
          <p class="local-horario-title">Horário de atendimento:</p>
          <p> Segunda a Sexta-feira das 9h às 18h.</p>
          <p><a href="/bilheteria" class="btn-como-chegar" data-line-after="___">ver bilheteria<span><%= image_tag 'red-seta.png', class: 'img-responsive', alt: 'Seta Como Chegar Teatro' %></span></a></p>

          <p class="local-horario-title">Estacione no Teatro ou no Shopping.</p><br>
            <p class="local-pagamento-title">Formas de Pagamento</p>
            <%= image_tag 'about/pagamento.png', class: 'img-responsive', alt: 'Formas de Pagamento'%>
            <a target="_blank" href="https://www.google.com.br/maps/place/23%C2%B035'35.7%22S+46%C2%B041'30.0%22W/@-23.5930744,-46.6920619,223m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d-23.59326!4d-46.6916663" class="btn-como-chegar" data-line-after="___">Como chegar<span><%= image_tag 'red-seta.png', class: 'img-responsive', alt: 'Seta Como Chegar Teatro' %></span></a>

          </div>
        </div>
      </div>
    </section>

    <% if @sponsors.present? %>
    <section class="about-patrocinadores">

      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-xs-12" data-bottom-top='margin-top: 100px; opacity: 0.5' data-center='opacity: 1'>
            <h2 data-line="___">Patrocinadores</h2>
            <h3>Fortalecimento da cultura e entretenimento</h3>
            <p>O setor criativo brasileiro é um dos eixos para o desenvolvimento do país, por isso investimos em parcerias que acreditam nos benefícios do lazer e do entretenimento. </p>
          </div>
        </div>

        <div class="row">
          <% @sponsors.each_with_index do |sponsor, index| %>
          <div class="col-sm-4 col-xs-12" data-bottom-top='margin-top: 100px; opacity: 0.5' data-center='opacity: 1'>
            <a href="javascript:void(0)" data-target="patrocinador-<%= index %>" class="link-patrocinador">
              <div class="about-patrocinadores-box">
                <%= image_tag sponsor.image.url, class: 'img-responsive img-patrocinador', alt: 'Patrocinador Teatro' %>

<!--                 <div class="logo-box">
                  <%= image_tag sponsor.icon.url, class: 'img-responsive logo-patrocinador center-block', alt: 'Patrocinador Teatro' %>
                </div> -->

              </div>

              <div class="patrocinador-caption">
<!--                 <hr> -->
                <p><%= sponsor.name %></p>
              </div>
            </a>
          </div>
          <% end %>
        </div>

        <% @sponsors.each_with_index do |sponsor, index| %>
        <div class="row about-patrocinador-detail" id="patrocinador-<%= index %>">
          <div class="col-sm-8 col-xs-12 detail-col">
            <div class="patrocinador-box-open">
              <%= image_tag sponsor.icon.url, class: 'img-responsive center-block logo-patrocinador', alt: 'Patrocinador Teatro' %>
              <p>
                <%= sponsor.description.html_safe %>
              </p>
              <a href="<%= sponsor.url %>" target='_blank' class="btn btn-white effect-pulse">Conheça Mais Aqui</a>
              <a href="javascript:void(0)" class="link-fechar-p" data-target="patrocinador-<%= index %>"></a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </section>
    <% end %>

    <% if @entrepreneurs.present? %>
    <section class="about-empreendedores">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12" data-bottom-top='margin-top: 50px; opacity: 0.5' data-center='opacity: 1'>
            <h2 data-line="___">Empreendedores</h2>
            <h3>Conheça nossos entusiastas das Artes Cênicas</h3>
            <p>Para fortalecer ainda mais o incentivo à cultura, uma equipe de grandes empresas se uniu para dar vida ao Teatro Santander.</p>
          </div>
        </div>

        <div class="row">
          <% @entrepreneurs.each_with_index do |entrepreneur, index| %>
          <div class="col-sm-4 col-sm-offset-2 col-xs-12" data-bottom-top='margin-top: 50px; opacity: 0.5' data-center='opacity: 1'>
            <a href="javascript:void(0)" data-target="empreendedor-<%= index %>" class="link-empreendedor">
              <div class="about-empreendedores-box">
                <%= image_tag entrepreneur.image.url, class: 'img-responsive img-empreendedor', alt: 'Empreendedor Teatro' %>

                <div class="logo-box">
                  <%= image_tag entrepreneur.icon.url, class: 'img-responsive logo-empreendedor center-block', alt: 'Empreendedor Teatro' %>
                </div>

              </div>

              <div class="empreendedor-caption">
<!--                 <hr> -->
                <p><%= entrepreneur.name %></p>
              </div>
            </a>
          </div>
          <% end %>
        </div>

        <% @entrepreneurs.each_with_index do |entrepreneur, index| %>
        <div class="row about-empreendedor-detail" id="empreendedor-<%= index %>">
          <div class="col-sm-8 col-xs-12 detail-col">
            <div class="empreendedor-box-open">
              <%= image_tag entrepreneur.icon.url, class: 'img-responsive center-block logo-empreendedor', alt: 'Empreendedor Teatro' %>
              <p>
                <%= entrepreneur.description.html_safe %>
              </p>
              <a href="<%= entrepreneur.url %>" target='_blank' class="btn btn-white">Conheça Mais Aqui</a>
              <a href="javascript:void(0)" class="link-fechar-e" data-target="empreendedor-<%= index %>"></a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </section>
    <% end %>
