<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Contato Comercial (Evento) - Teatro Santander</h1>
    <p>
      <b>Empresa:</b> <%= @business_contact.company_name %>
    </p>
    <p>
      <b>Nome:</b> <%= @business_contact.responsible_person %>
    </p>
    <p>
      <b>E-Mail:</b> <%= @business_contact.email %>
    </p>
    <p>
      <b>Telefone:</b> <%= @business_contact.phone %>
    </p>
    <p>
      <b>Data do evento:</b> <%= @business_contact.date %>
    </p>
    <p>
      <b>Número de participantes:</b> <%= @business_contact.number_participants %>
    </p>
    <p>
      <b>Observações:</b> <%= @business_contact.observations %>
    </p>
  </body>
</html>
