<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Contato Comercial (Parceria) - Teatro Santander</h1>
    <p>
      <b>Empresa:</b> <%= @partnership_contact.company_name %>
    </p>
    <p>
      <b>Nome:</b> <%= @partnership_contact.responsible_person %>
    </p>
    <p>
      <b>E-Mail:</b> <%= @partnership_contact.email %>
    </p>
    <p>
      <b>Telefone:</b> <%= @partnership_contact.phone %>
    </p>
    <p>
      <b>Observações:</b> <%= @partnership_contact.observations %>
    </p>
  </body>
</html>
